/src/.idea/.idea.eshop-microservices/.idea/.name
/.vs/EShopMicroservice/FileContentIndex
/.vs
/src/.vs/eshop-microservices/v17/.suo
/src/.vs/eshop-microservices/v17/DocumentLayout.json
/src/.vs/ProjectEvaluation/eshop-microservices.metadata.v8.bin
/src/.vs/ProjectEvaluation/eshop-microservices.projects.v8.bin
/src/.vs/ProjectEvaluation/eshop-microservices.strings.v8.bin
/src/.vs/eshop-microservices/FileContentIndex/1e437db4-ebc5-4f2b-937b-c9124877145b.vsidx
/src/BuildingBlocks/BuildingBlocks/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/src/BuildingBlocks/BuildingBlocks/obj/Release/net8.0/BuildingBlocks.AssemblyInfo.cs
/src/BuildingBlocks/BuildingBlocks/obj/Release/net8.0/BuildingBlocks.AssemblyInfoInputs.cache
/src/BuildingBlocks/BuildingBlocks/obj/Release/net8.0/BuildingBlocks.assets.cache
/src/BuildingBlocks/BuildingBlocks/obj/Release/net8.0/BuildingBlocks.csproj.AssemblyReference.cache
/src/BuildingBlocks/BuildingBlocks/obj/Release/net8.0/BuildingBlocks.GeneratedMSBuildEditorConfig.editorconfig
/src/BuildingBlocks/BuildingBlocks/obj/Release/net8.0/BuildingBlocks.GlobalUsings.g.cs
/src/BuildingBlocks/BuildingBlocks/obj
